## Default values for Lightlytics agent
## See Lightlytics helm documentation:

createSecret: true


nameOverride:  # ""

fullnameOverride:  # ""

registry: public.ecr.aws/f1v0s3d7

lightlytics:
  #lightlytics.apiToken --  Lightlytics API token for your Kubernetes cluster
  #ref :
  apiToken: 

  #lightlytics.apiUrl -- Lightlytics site url
  apiUrl:

  #lightlytics.fullScanScheduleSeconds -- periodic Kubernetes resources scan at seconds
  fullScanScheduleSeconds: 1800

  #lightlytics.filterRunningPods -- takes only pods which at status running
  filterRunningPods: true

  #lightlytic.fieldSelectorsNamespaces -- filter/unfilter resources from specific namespace
  fieldSelectorsNamespaces:

  #lightlytic.fieldSelectorsNames
  fieldSelectorsNames:

  #lightlytic.inLabelSelector
  inLabelSelector:
  
  #lightlytics.tolerations
  tolerations:
  - key: "re"
    operator: "Equal"
    value: "true"
    effect: "NoSchedule"

  #lightlytic.existLabelSelector
  existLabelSelector:

  #lightlytic.equalsLabelSelector
  equalsLabelSelector:
  
  #lightlytics.workflow -- lightlytics workflow type 
  workflow: full_scan
  
  #lightlytics.port -- lightlytics port
  port: 443

  replicas: 1

  image:
    #lightlytics.image.name -- Lightlytics agent image name.
    name: mika

    #lightlytics.image.tag -- Lightlytics agent tag to use.
    tag: k8sevents.541

    #lightlytics.image.pullPolicy -- Lightlytics agent image pullPolicy
    pullPolicy: IfNotPresent


  cost_image:
    #lightlytics.cost_image.name -- Lightlytics cost agent image name.
    name: mika

    #lightlytics.cost_image.tag -- Lightlytics cost agent tag to use.
    tag: 4359535051_cost_k8s_process.542

    #lightlytics.cost_image.pullPolicy -- Lightlytics cost agent image pullPolicy
    pullPolicy: IfNotPresent

  process_discovery_image:
    #lightlytics.process_discovery_image.name -- Lightlytics process discovery agent image name.
    name: k8s-proc-agent

    #lightlytics.process_discovery_image.tag -- Lightlytics process discovery agent tag to use.
    tag: master.2

    #lightlytics.process_discovery_image.pullPolicy -- Lightlytics process discovery agent image pullPolicy
    pullPolicy: IfNotPresent

  serviceAccount:
    #lightlytics.serviceAccount.create
    create: true

    #lightlytics.serviceAccount.name -- The name of the Service account.
    #If not set and create is true, a name is generated using the fullname template
    name: lightlyticssa

  clusterRole:
    #lightlytics.clustRole.create
    create: true
    #lightlytics.serviceAccount.name -- The name of the Service account.
    #If not set and create is true, a name is generated using the fullname template
    name: lightltyicscr

  cost_containers:
    #lightlytics.cost_containers.enabled
    enabled: true
    containers:
      lightlytics-connector:
        name: lightlytics-connector
        command:
          - /usr/local/bin/python
          - connector.py
      lightlytics-cost:
        name: lightlytics-cost
        command:
          - /usr/local/bin/python
          - cost.py
    
  lightlytics_containers:
    enabled: true
    containers:
      lightlytics-krs:
        name: lightlytics-krs
        command:
          - /usr/local/bin/python
          - main.py
          - krs
      lightlytics-events:
        name: lightlytics-events
        command:
          - /usr/local/bin/python
          - main.py
          - events
      lightlytics-network-policy:
        name: lightlytics-network-policy
        command:
          - /usr/local/bin/python
          - main.py
          - network_policy

  process_discovery_containers:
    enabled: false
    containers:
      lightlytics-process-discovery:
        name: lightlytics-process-discovery

  resources:
    requests:
      cpu: 50m
      memory: 32Mi
    limits:
     cpu: 800m
     memory: 2048Mi
  env:
    LOGLEVEL: INFO
    DEBUG: False


