{{- if not .Values.lightlytics.apiTokenExistingSecret }}
apiVersion: v1
kind: Secret
metadata:
  name: {{ template "lightlytics.fullname" . }}
  namespace: {{ .Release.Namespace }}
type: Opaque
data:
  api-key: {{ default "MISSING" .Values.lightlytics.apiToken | b64enc | quote }}
{{- end }}
