## Default values for Stream Security agent
## See Stream Security helm documentation:


nameOverride:  # ""

fullnameOverride:  # ""

registry: public.ecr.aws/stream-security

dnsPolicy: Default

streamsec:
  #streamsec.apiToken --  Stream Security API token for your Kubernetes cluster
  #Required: Set your Stream Security API token here
  #ref :
  apiToken:

  # streamsec.apiTokenExistingSecret -- Use existing Secret which stores API key instead of creating a new one. The value should be set with the `api-key` key inside the secret.
  ## If set, this parameter takes precedence over "apiToken".
  apiTokenExistingSecret:  # <API_TOKEN_SECRET>

  #streamsec.apiUrl -- Stream Security site url
  #Required: Set your Stream Security API URL here
  apiUrl:

  #streamsec.fullScanScheduleSeconds -- periodic Kubernetes resources scan at seconds
  fullScanScheduleSeconds: 1800

  #streamsec.filterRunningPods -- takes only pods which at status running
  filterRunningPods: true

  #streamsec.fieldSelectorsNamespaces -- filter/unfilter resources from specific namespace
  fieldSelectorsNamespaces:

  #streamsec.fieldSelectorsNames
  fieldSelectorsNames:

  #streamsec.inLabelSelector
  inLabelSelector:

  #streamsec.nodeSelector
  nodeSelector: {}
  # Example:
  # nodeSelector:
  #   node.kubernetes.io/instance-type: m5.large
  #streamsec.affinity
  affinity: {}
  # Example:
  # affinity:
  #   nodeAffinity:
  #     requiredDuringSchedulingIgnoredDuringExecution:
  #       nodeSelectorTerms:
  #          - matchExpressions:
  #            - key: eks.amazonaws.com/compute-type
  #              operator: NotIn
  #              values: ["fargate"]

  #streamsec.dnsConfig
  dnsConfig: {}
    # options:
    # - name: ndots
    #   value: "2"
  #streamsec.tolerations
  tolerations:
  - key: re
    operator: Equal
    value: 'true'
    effect: NoSchedule

  #streamsec.existLabelSelector
  existLabelSelector:

  #streamsec.equalsLabelSelector
  equalsLabelSelector:
  #streamsec.workflow -- streamsec workflow type 
  workflow: full_scan

  #streamsec.port -- streamsec port
  port: 443

  replicas: 1

  image:
    #streamsec.image.name -- Stream Security agent image name.
    name: cluster-agent

    #streamsec.image.tag -- Stream Security agent tag to use.
    tag: 1.2.6

    #streamsec.image.digest -- Stream Security agent image digest to use.
    digest: sha256:71379e88c33e9989341eabf62a61f95cb800445de62b12cddc6f80ada557c521

    #streamsec.image.pullPolicy -- Stream Security agent image pullPolicy
    pullPolicy: IfNotPresent


  cost_image:
    #streamsec.cost_image.name -- Stream Security cost agent image name.
    name: cluster-agent

    #streamsec.cost_image.tag -- Stream Security cost agent tag to use.
    tag: 1.2.6

    #streamsec.cost_image.digest -- Stream Security cost agent image digest to use.
    digest: sha256:71379e88c33e9989341eabf62a61f95cb800445de62b12cddc6f80ada557c521

    #streamsec.cost_image.pullPolicy -- Stream Security cost agent image pullPolicy
    pullPolicy: IfNotPresent

  process_discovery_image:
    #streamsec.process_discovery_image.name -- Stream Security process discovery agent image name.
    name: process-agent

    #streamsec.process_discovery_image.tag -- Stream Security process discovery agent tag to use.
    tag: master.75

    #streamsec.process_discovery_image.pullPolicy -- Stream Security process discovery agent image pullPolicy
    pullPolicy: IfNotPresent

  serviceAccount:
    #streamsec.serviceAccount.create
    create: true

    #streamsec.serviceAccount.name -- The name of the Service account.
    #If not set and create is true, a name is generated using the fullname template
    name: ''

  clusterRole:
    #streamsec.clustRole.create
    create: true
    #streamsec.serviceAccount.name -- The name of the Service account.
    #If not set and create is true, a name is generated using the fullname template
    name: ''

  cost_containers:
    #streamsec.cost_containers.enabled
    enabled: false
    containers:
      connector:
        name: connector
        command:
        - /usr/local/bin/python
        - main.py
        - connector
        resources:
          requests:
            cpu: 800m
            memory: 1024Mi
          limits:
            cpu: 2000m
            memory: 2048Mi
      cost:
        name: cost
        command:
        - /usr/local/bin/python
        - main.py
        - cost
        resources:
          requests:
            cpu: 800m
            memory: 1024Mi
          limits:
            cpu: 2000m
            memory: 2048Mi


  cluster_agent_containers:
    enabled: true
    containers:
      krs:
        enabled: true
        name: krs
        command:
        - /usr/local/bin/python
        - main.py
        - krs
        resources:
          requests:
            cpu: 1000m
            memory: 2048Mi
          limits:
            cpu: 2000m
            memory: 4096Mi
      sbom:
        enabled: false
        name: sbom
        command:
        - /usr/local/bin/python
        - main.py
        - sbom
        resources:
          requests:
            cpu: 1000m
            memory: 2048Mi
          limits:
            cpu: 2000m
            memory: 4096Mi
      events:
        enabled: true
        name: events
        command:
        - /usr/local/bin/python
        - main.py
        - events
        resources: {}
      network-policy:
        enabled: false
        name: network-policy
        command:
        - /usr/local/bin/python
        - main.py
        - network_policy
        resources: {}
      tracing-policy:
        name: tracing-policy
        command:
        - /usr/local/bin/python
        - main.py
        - tracing_policy
        resources: {}

    dockerConfigSecret:
      enabled: false                # Set to true to mount secret to sbom container
      name: regcred

  process_discovery_containers:
    enabled: false
    containers:
      process-discovery:
        name: process-discovery
        resources: {}

  runtime_agent:
    enabled: false
    tetragonFilePath: /var/run/cilium/tetragon/
    tetragonFileName: tetragon.log
    nodeSelector: {}
    tolerations:
    - operator: Exists
    affinity: {}
    resources:
      requests:
        cpu: 100m
        memory: 128Mi
    updateStrategy: {}
    image:
      name: runtime-agent
      tag: 1.3.1
      digest: sha256:f33a33d958ce290b807bc477c620b739fe6fbd26b09c4d1bca3ac1f7f6391f84
      pullPolicy: IfNotPresent

  env:
    LOGLEVEL: INFO
    DEBUG: 'false'
    CLUSTER_ID:  # "" 
    CLUSTER_NAME:  # "" 
    ACCOUNT_ID:  # "" 
    REGION:  # "" 
    RESOURCE_GROUP:  # ""

tetragon:
  serviceAccount:
    name: tetragon
  export:
    mode: ''
  tetragonOperator:
    tolerations: []
  tetragon:
    grpc:
      address: localhost:59751
    resources:
      requests:
        cpu: 200m
        memory: 400Mi
    healthGrpc:
      port: 9763
    extraArgs:
      enable-process-ancestors: true
      enable-process-cred: true
    exportFileMaxSizeMB: 50
    exportDenyList: |-
      {"event_set": ["PROCESS_EXIT"]}
    fieldFilters: |
      {"event_set":["PROCESS_KPROBE"], "fields":"parent", "action":"EXCLUDE"}
      {"event_set":["PROCESS_KPROBE","PROCESS_EXEC"],"fields":"process.parent_exec_id,parent.parent_exec_id,ancestors.parent_exec_id,parent.cwd,ancestors.exec_id", "action":"EXCLUDE"}
      {"event_set":["PROCESS_EXEC"],"fields":"process.cap,parent.cap,parent.process_credentials,ancestors.cap,ancestors.process_credentials", "action":"EXCLUDE"}
